<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE apt-dater SYSTEM "file://usr/share/xml/schema/apt-dater/apt-dater.dtd">
<apt-dater xmlns:xi="http://www.w3.org/2001/XInclude">
    <!-- Include global config file if available. -->
    <xi:include href="file:///etc/apt-dater/apt-dater.xml" xpointer="xpointer(/apt-dater/*)">
        <xi:fallback />
    </xi:include>

    <!--
        SSH(1) options

    <ssh
        cmd="/usr/bin/ssh"
        opt-cmd-flags="-t"
        sftp-cmd="/usr/bin/sftp"
        spawn-agent="false">

        <add-key fn="/path/to/id_rsa1"/>
        <add-key fn="/path/to/id_rsa2"/>
    </ssh>
    -->

    <!--
        Path to hosts file and status directory.

    <paths
        hosts-file="path-to/hosts.xml"
        history-dir="path-to/history/"
        stats-dir="path-to/stats"/>
    -->

    <!--
        SCREEN(1) options

    <screen
        rc-file="path-to/screenrc"
        title="%m # %u@%h:%p"/>
    -->

    <!--
        TMUX(1) options
    <tmux
        socket-path="path-to/tmux"/>
    -->

    <!--
         Colors      = (COMPONENT FG BG ';')*
         COMPONENT ::= 'default' | 'menu' | 'status' | 'selector' | 'hoststatus' |
                       'query' | 'input'
         FG        ::= COLOR
         BG        ::= COLOR
         COLOR     ::= 'black' | 'blue' | 'cyan' | 'green' | 'magenta' | 'red' |
                       'white' | 'yellow'
    -->

    <appearance
        colors="menu brightgreen blue;status brightgreen blue;selector black red;"/>

    <!--
        Notify user by terminal bell and/or screen flash.

    <notify
        beep="true"
        flash="true"/>
    -->

    <!--
        plugin-dir  : directory containing host plugins
        (pre|post)-*: run hooks before or after executing an action on a host

    <hooks
        pluginDir="/etc/apt-dater/plugins";

        pre-upgrade="/etc/apt-dater/pre-upg.d"
        post-upgrade="/etc/apt-dater/post-upg.d"
        pre-refresh="/etc/apt-dater/pre-ref.d"
        post-refresh="/etc/apt-dater/post-ref.d"
        pre-install="/etc/apt-dater/pre-ins.d"
        post-install="/etc/apt-dater/post-ins.d"
        pre-connect="/etc/apt-dater/pre-con.d"
        post-connect="/etc/apt-dater/post-con.d"/>
    -->

    <!--
        Requires apt-dater to be build with enable-autoref.

    <auto-ref
        enabled="true"/>
    -->

    <!--
        Requires apt-dater to be build with enable-history.

    <history
        record="true"
        err-pattern="((?&lt;!no )error|warning|fail)"/>
    -->

    <!--
        Requires apt-dater to be build with enable-tclfilter.

    <tcl-filter
        filter-exp="return [expr [string compare $lsb_distri \\\"Debian\\\"] == 0 && $lsb_rel < 4.0]"
        filter-file="/path/to/file.tcl" />
    -->
</apt-dater>
