#!/bin/bash

# === Functions === #

#production:deployment@apt-dater-01.config.landcareresearch.co.nz:22
# prints the group name
function get_group {
  echo $(echo $1 | cut -f1 -d':')
}

function get_user {
  string1=$(echo $1 | cut -f2 -d':')
  echo $(echo $string1 | cut -f1 -d'@')
}

function get_host {
  string1=$(echo $1 | cut -f2 -d':')
  echo $(echo $string1 | cut -f2 -d'@')
}

function get_port {
  echo $(echo $1 | cut -f3 -d':')
}

function set_host_entry {
    host=$(get_host $1)
    user=$(get_user $1)
    port=$(get_port $1)
    echo "        <host name=\"${host}\" ssh-user=\"${user}\" ssh-port=\"${port}\"/>\n"
}

read -r -d '' HEAD << EOM

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hosts SYSTEM "file://usr/share/xml/schema/apt-dater/hosts.dtd">
<hosts xmlns:xi="http://www.w3.org/2001/XInclude">
    <!-- Include global config file if available. -->
    <xi:include href="file:///etc/apt-dater/hosts.xml" xpointer="xpointer(/hosts/*)">
        <xi:fallback />
    </xi:include>
EOM

dirlist=$(find "<%= @manager_fragments_dir -%>" -maxdepth 1 -xdev -type f -printf "%P\n" )

sortedlist=($(for l in ${dirlist[@]}; do echo $l; done | sort))
GROUP_LIST=''

if [ ${#sortedlist[@]} != 0 ] ; then

  group=$(get_group ${sortedlist[0]})
  GROUP_LIST="    <group name=\"${group}\">\n"

  for i in ${sortedlist[@]}
  do :
    group_name=$(get_group ${i})
    if [ "${group}" != "${group_name}" ] ; then
      GROUP_LIST+="    </group>\n"
      GROUP_LIST+="    <group name=\"${group_name}\">\n"
      group=$group_name
    fi

    GROUP_LIST+=$(set_host_entry $i)
  done
  GROUP_LIST+="    </group>"
fi

read -r -d '' TAIL << EOM
</hosts>
EOM


echo "${HEAD}"
echo -e "${GROUP_LIST}"
echo "${TAIL}"
