#!/bin/bash


<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hosts SYSTEM "file://usr/share/xml/schema/apt-dater/hosts.dtd">
<!--
    Hosts file of apt-dater (parsed by libxml2)
    ===========================================

    hosts.xml configures the hosts which are managed by
    apt-dater. Host options (except 'name') are lookuped as attributes
    at the host node itself, the parent group node and the global
    /hosts/default node.

    The following attributes are known:
    - name    : visible name of the host or group (required)
    - comment : text shown in 'host details' screen
    - type    : transport type (default: 'generic-ssh')
    - ssh-user: overwrite SSH username
    - ssh-host: overwrite SSH host (defaults to @name)
    - ssh-port: overwrite SSH port
    - ssh-id  : overwrite SSH identification file

    Example:

    <hosts>
      <default ssh-user="admin"/>

      <group name="Internal Hosts" ssh-user="root">
        <host name="server1.internal"/>
        <host name="server2.internal"/>
        <host name="John's Machine" ssh-host="workstation.internal" />
      </group>

      <group name="External Hosts">
        <host name="external.ibh.net" ssh-port="443"/>
      </group>

      ...

    </hosts>
-->

<hosts xmlns:xi="http://www.w3.org/2001/XInclude">
  <!-- Include global config file if available. -->
  <xi:include href="file:///etc/apt-dater/hosts.xml" xpointer="xpointer(/hosts/*)">
    <xi:fallback />
  </xi:include>

  <!-- Add groups here -->
<!--
  <group name="production">
    <host name="localhost" comment="Edit ~/.config/apt-dater/hosts.xml!"/>
  </group>
-->
find "<%= scope.lookupvar('apt_dater::manager_fragments_dir') %>" -maxdepth 1 -xdev -type f \
	| perl -ne '
		chomp;
		/\/([^\/]*):([^\/]*):([^\/]*)$/;
		my ($customer, $host, $port) = ($1, $2, $3);
		# print "c=$customer, h=$host, p=$port\n";
		push @{ $hosts{$customer} }, "$host:$port";
		END {
			# use Data::Dumper; print Dumper(\%hosts);
			foreach $customer (sort keys %hosts) {
                                print '<group name="[$customer]"\n';
                                print '    <host name="@{ $hosts{$customer} }"/>\n';
			}
		}'
	
</hosts>

